<!DOCTYPE html>
<html>
<head>
  <title>图片编辑器</title>
  <meta charset="UTF-8">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../lib/photon/dist/css/photon.css">
  <link rel="stylesheet" href="../css/edit.css">
  <script type="text/javascript" src="../lib/html2canvas.js"></script>


  <!-- Electron Javascript -->
</head>

<body>
  <!-- Wrap your entire app inside .window -->
  <div class="window">
    <!-- .toolbar-header sits at the top of your app -->


    <!-- Your app's content goes inside .window-content -->
    <div class="window-content">

      <div class="pane-group">

        <div class="pane-sm sidebar">
          <div class="wrapper">





			<!--Controls for CSS filters via range input-->
			<div class="sliders" >
				<form id="imageEditor">
          <div class="file">选择文件
            <input type="file" id="fileElem"onchange="handleFiles(this)">
          </div>
					<p>
						<label for="gs">灰度</label>
						<input id="gs" name="gs" type="range" min=0 max=100 value=0>
					</p>

					<p>
						<label for="blur">模糊</label>
						<input id="blur" name="blur" type="range" min=0 max=10 value=0>
					</p>

					<p>
						<label for="br">曝光度</label>
						<input id="br" name="br" type="range" min=0 max=200 value=100>
					</p>

					<p>
						<label for="ct">对比度</label>
						<input id="ct" name="ct" type="range" min=0 max=200 value=100>
					</p>

					<p>
						<label for="huer">色相</label>
						<input id="huer" name="huer" type="range" min=0 max=360 value=0>
					</p>

					<p>
						<label for="opacity">透明度</label>
						<input id="opacity" name="opacity" type="range" min=0 max=100 value=100>
					</p>

					<p>
						<label for="invert">反色</label>
						<input id="invert" name="invert" type="range" min=0 max=100 value=0>
					</p>

					<p>
						<label for="saturate">饱和度</label>
						<input id="saturate" name="saturate" type="range" min=0 max=500 value=100>
					</p>

					<p>
						<label for="sepia">褐色</label>
						<input id="sepia" name="sepia" type="range" min=0 max=100 value=0>
					</p>





				</form>
			</div>

			<!--container where image will be loaded-->

		</div>
        </div>
        <div class="pane">


          <div id="imageContainer" class="center">
          </div>


        </div>

      </div>


      </div>
    <footer class="toolbar toolbar-footer">
  <div class="toolbar-actions">
  	<input type="reset" form="imageEditor" id="reset" value="重置" />

    <button class="btn btn-primary pull-right save">
      保存
    </button>
  </div>
</footer>
  </div>

</body>
  <script>
    // You can also require other files to run in this process
    require('../js/edit.js')

  </script>
  <script>
    var fileElem = document.getElementById("fileElem"),
    fileList = document.getElementById("imageContainer");
    function handleFiles(obj) {
        var files = obj.files,
        img = new Image();
        if(window.URL){
            //File API
            img.id = 123;
            img.src = window.URL.createObjectURL(files[0]); //创建一个object URL，并不是你的本地路径
            console.log(files[0]);
            // img.onload = function(e) {
            //     window.URL.revokeObjectURL(this.src); //图片加载后，释放object URL
            // }
            fileList.appendChild(img);
        }
        }
    </script>

</html>
