<!DOCTYPE html>
<html>
<head>
    <title>图像捕捉</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../lib/photon/dist/css/photon.css">

    <link rel="stylesheet" href="../css/photo.css">
</head>
<body>
<button id="paizhao" class="btn btn-primary pull-right"></button>
<span class="icon icon-camera"></span>
<video id="video" autoplay=""style='width:1024px;height:768px'></video>
<canvas id="canvas" width="1024" height="768"></canvas>

</body>
<script>
  require('../js/photo.js')

</script>
</html>
